In [1]:
import matplotlib
matplotlib.use('nbagg')
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [4]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [5]:
engine.execute('SELECT * FROM measurements LIMIT 5').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0, 63),
 (3, 'USC00519397', '2010-01-03', 0, 74),
 (4, 'USC00519397', '2010-01-04', 0, 76),
 (5, 'USC00519397', '2010-01-06', None, 73)]

In [6]:
engine.execute('SELECT * FROM stations LIMIT 5').fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]

In [7]:
inspector = inspect(engine)
columns = inspector.get_columns('measurements')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
date TEXT
prcp INTEGER
tobs INTEGER

In [8]:
inspector = inspect(engine)
columns = inspector.get_columns('stations')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [9]:
# Reflect Database into ORM class
Base = automap_base()
Base.prepare(engine, reflect=True)
measurements = Base.classes.measurements

In [10]:
# Reflect Database into ORM class
Base = automap_base()
Base.prepare(engine, reflect=True)
stations = Base.classes.stations

In [11]:
session = Session(engine)

In [37]:
# Query for the stock and average prices (open, high, low, close) 
# for all stock in the month of May
# Sort the result by stock name
### BEGIN SOLUTION
sel = [measurements.date, 
       measurements.prcp]
may_averages = session.query(*sel).\
    filter(func.strftime("%Y", measurements.date) == "2016").\
    group_by(measurements.prcp).\
    order_by(measurements.date).all()
### END SOLUTION
may_averages

[('2016-01-07', 1.32),
 ('2016-02-03', 0.26),
 ('2016-03-14', 0.16),
 ('2016-03-15', 0.57),
 ('2016-03-15', 0.82),
 ('2016-03-18', 0.07),
 ('2016-03-23', 1.05),
 ('2016-03-23', 1.78),
 ('2016-03-25', 1.9),
 ('2016-03-26', 0.87),
 ('2016-04-06', 0.73),
 ('2016-04-09', 0.66),
 ('2016-04-17', 0.32),
 ('2016-04-17', 0.51),
 ('2016-04-18', 5.09),
 ('2016-04-23', 0.77),
 ('2016-04-24', 0.99),
 ('2016-05-01', 0.36),
 ('2016-05-07', 1.53),
 ('2016-05-07', 1.8),
 ('2016-05-18', 0.58),
 ('2016-05-20', 0.71),
 ('2016-05-25', 0.5),
 ('2016-05-26', 1.68),
 ('2016-05-31', 0.8),
 ('2016-05-31', 1.18),
 ('2016-06-01', 0.89),
 ('2016-06-01', 1.39),
 ('2016-06-02', 0.74),
 ('2016-06-03', 0.1),
 ('2016-06-06', 0.47),
 ('2016-06-07', 1.26),
 ('2016-06-10', 0.62),
 ('2016-06-10', 1.4),
 ('2016-06-11', 0.65),
 ('2016-06-14', 0.19),
 ('2016-06-15', 0.68),
 ('2016-06-15', 1.38),
 ('2016-06-16', 0.12),
 ('2016-06-20', 0.52),
 ('2016-06-21', 0.78),
 ('2016-07-06', 1.46),
 ('2016-07-07', 0.92),
 ('2016-07-10', 0.63),
 ('2016-07-14', 1.15),
 ('2016-07-15', 1.7),
 ('2016-07-16', 2.05),
 ('2016-07-19', 0.41),
 ('2016-07-20', 0.08),
 ('2016-07-24', 2.75),
 ('2016-07-25', 3.01),
 ('2016-07-25', 4.2),
 ('2016-07-25', 5.35),
 ('2016-07-25', 7.65),
 ('2016-07-25', 9.64),
 ('2016-07-31', 2.9),
 ('2016-08-01', 0.54),
 ('2016-08-01', 2.21),
 ('2016-08-01', 2.35),
 ('2016-08-01', 3.53),
 ('2016-08-02', 1.14),
 ('2016-08-07', 1.3),
 ('2016-08-09', 0.56),
 ('2016-08-12', 0.39),
 ('2016-08-13', 0.45),
 ('2016-08-16', 0.85),
 ('2016-08-18', 0.21),
 ('2016-08-19', 2.3),
 ('2016-08-22', 2.32),
 ('2016-08-23', 1.79),
 ('2016-08-24', 1.22),
 ('2016-08-24', 1.45),
 ('2016-08-24', 2.15),
 ('2016-08-24', 2.28),
 ('2016-08-25', 0.11),
 ('2016-08-28', 2.07),
 ('2016-08-31', 2.46),
 ('2016-09-04', 0.44),
 ('2016-09-05', 0.18),
 ('2016-09-10', 1.16),
 ('2016-09-11', 0.6),
 ('2016-09-12', 1.04),
 ('2016-09-13', 1.2),
 ('2016-09-14', 1.19),
 ('2016-09-14', 1.84),
 ('2016-09-14', 2.33),
 ('2016-09-14', 6.7),
 ('2016-09-15', 3.35),
 ('2016-09-17', 0.23),
 ('2016-09-20', 0.43),
 ('2016-09-22', 0.34),
 ('2016-09-22', 0.75),
 ('2016-09-23', 0.94),
 ('2016-09-24', 0.27),
 ('2016-09-29', 0.49),
 ('2016-09-29', 0.59),
 ('2016-09-29', 1.49),
 ('2016-10-01', 1.02),
 ('2016-10-02', 0.61),
 ('2016-10-03', 0.46),
 ('2016-10-04', 3.46),
 ('2016-10-05', 0.81),
 ('2016-10-11', 0.28),
 ('2016-10-11', 0.35),
 ('2016-10-18', 0.48),
 ('2016-10-20', 1),
 ('2016-10-22', 1.37),
 ('2016-10-23', 0.24),
 ('2016-10-24', 0.7),
 ('2016-10-25', 0.4),
 ('2016-10-27', 1.25),
 ('2016-10-28', 0.37),
 ('2016-10-29', 0.25),
 ('2016-10-30', 0.95),
 ('2016-10-31', 1.35),
 ('2016-11-04', 0.06),
 ('2016-11-08', 0.53),
 ('2016-11-15', 0.05),
 ('2016-11-16', 0.91),
 ('2016-11-21', 2.87),
 ('2016-11-22', 2.11),
 ('2016-11-23', 0.22),
 ('2016-11-26', 0.3),
 ('2016-11-27', 0.17),
 ('2016-11-27', 0.29),
 ('2016-11-28', 0.69),
 ('2016-11-29', 0.2),
 ('2016-11-30', 0.79),
 ('2016-12-01', 0.72),
 ('2016-12-02', 1.27),
 ('2016-12-03', 1.62),
 ('2016-12-04', 0.31),
 ('2016-12-05', 1.6),
 ('2016-12-07', 0.02),
 ('2016-12-09', 0.42),
 ('2016-12-10', 0.04),
 ('2016-12-11', 0.13),
 ('2016-12-12', 0.01),
 ('2016-12-13', 0.09),
 ('2016-12-14', 0.33),
 ('2016-12-15', 0.03),
 ('2016-12-18', None),
 ('2016-12-19', 0.15),
 ('2016-12-20', 0),
 ('2016-12-21', 0.55),
 ('2016-12-22', 0.86),
 ('2016-12-22', 1.24),
 ('2016-12-23', 0.83),
 ('2016-12-24', 1.08),
 ('2016-12-25', 0.38),
 ('2016-12-26', 1.48),
 ('2016-12-28', 0.14),
 ('2016-12-29', 1.03),
 ('2016-12-30', 2.37),
 ('2016-12-31', 0.9)]

In [41]:
# Plot the Results
### BEGIN SOLUTION
df = pd.DataFrame(may_averages, columns=['date', 'prcp'])
df.set_index('date')#, inplace=True)
df.plot.bar()
plt.tight_layout()
plt.show()
### END SOLUTION

AttributeError: 'DataFrame' object has no attribute 'autofmt_xdate'

In [39]:

df

           date  prcp
0    2016-01-07  1.32
1    2016-02-03  0.26
2    2016-03-14  0.16
3    2016-03-15  0.57
4    2016-03-15  0.82
5    2016-03-18  0.07
6    2016-03-23  1.05
7    2016-03-23  1.78
8    2016-03-25  1.90
9    2016-03-26  0.87
10   2016-04-06  0.73
11   2016-04-09  0.66
12   2016-04-17  0.32
13   2016-04-17  0.51
14   2016-04-18  5.09
15   2016-04-23  0.77
16   2016-04-24  0.99
17   2016-05-01  0.36
18   2016-05-07  1.53
19   2016-05-07  1.80
20   2016-05-18  0.58
21   2016-05-20  0.71
22   2016-05-25  0.50
23   2016-05-26  1.68
24   2016-05-31  0.80
25   2016-05-31  1.18
26   2016-06-01  0.89
27   2016-06-01  1.39
28   2016-06-02  0.74
29   2016-06-03  0.10
..          ...   ...
125  2016-11-28  0.69
126  2016-11-29  0.20
127  2016-11-30  0.79
128  2016-12-01  0.72
129  2016-12-02  1.27
130  2016-12-03  1.62
131  2016-12-04  0.31
132  2016-12-05  1.60
133  2016-12-07  0.02
134  2016-12-09  0.42
135  2016-12-10  0.04
136  2016-12-11  0.13
137  2016-12-12  0.01
138  2016-12-13  0.09
139  2016-12-14  0.33
140  2016-12-15  0.03
141  2016-12-18   NaN
142  2016-12-19  0.15
143  2016-12-20  0.00
144  2016-12-21  0.55
145  2016-12-22  0.86
146  2016-12-22  1.24
147  2016-12-23  0.83
148  2016-12-24  1.08
149  2016-12-25  0.38
150  2016-12-26  1.48
151  2016-12-28  0.14
152  2016-12-29  1.03
153  2016-12-30  2.37
154  2016-12-31  0.90

[155 rows x 2 columns]

In [4]:
# Write a function called `calc_temps` that will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()
print(calc_temps('2012-02-28', '2012-03-05'))