In [1]:
# Dependencies
import pandas as pd

In [2]:
# Path of the CSV file
csvmeasurments = "hawaii_measurements.csv"
csvstations = "hawaii_stations.csv"

In [3]:
# Read CSV file into a pandas DataFrame
df1 = pd.read_csv(csvmeasurments)
df1.set_index(['station'])
df2 = pd.read_csv(csvstations)
df2.set_index(['station'])

,name,latitude,longitude,elevation
station,,,,
USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [25]:
# Preview DataFrame
df1.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [26]:
df2.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [12]:
result = pd.merge(df1, df2, on = 'station', how = 'outer').fillna(0)
result.dropna()
result.head()

,station,date,prcp,tobs,name,latitude,longitude,elevation
0,USC00519397,2010-01-01,0.08,65,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00519397,2010-01-02,0.00,63,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
2,USC00519397,2010-01-03,0.00,74,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
3,USC00519397,2010-01-04,0.00,76,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
4,USC00519397,2010-01-06,0.00,73,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0

In [7]:

result.to_csv('clean_hawaii.csv')

In [9]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base

from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [10]:
# Create an engine to a SQLite database file called `customers.sqlite`
engine = create_engine("sqlite:///customers.sqlite")

In [11]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [13]:
# Use `declarative_base` from SQLAlchemy to model the demographics table as an ORM class
# Make sure to specify types for each column, e.g. Integer, Text, etc.
# http://docs.sqlalchemy.org/en/latest/core/type_basics.html
Base = declarative_base()

class Station(Base):
    __tablename__ = 'Station'

    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Date)
    prcp = Column(Integer)
    tobs = Column()
    name = Column()
    latitude = Column()
    longitude = Column()
    elevation = Column()

NameError: name 'Date' is not defined

In [14]:
# Use `create_all` to create the customers table in the database
Base.metadata.create_all(engine)

In [15]:
# Load the cleaned csv file into a pandas dataframe
csv_clean = "clean_hawaii.csv"
new_df = pd.read_csv(csv_clean)

In [16]:
# Use Orient='records' to create a list of data to write
# to_dict() cleans out DataFrame metadata as well
# http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
data = new_df.to_dict(orient='records')

In [17]:
print(data)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [18]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [19]:
# Save the reference to the `customers` table as a variable called `table`
# Needed to bulk upload data, rather than add through individual objects
table = sqlalchemy.Table('customers', metadata, autoload=True)

In [20]:
# Use `table.delete()` to remove any pre-existing data.
# Note that this is a convenience function so that you can re-run the example code multiple times.
# You would not likely do this step in production.
conn.execute(table.delete())

In [21]:
# Use `table.insert()` to insert the data into the table
# The SQL table is populated during this step
conn.execute(table.insert(), data)

In [22]:
from sqlalchemy.orm import Session

In [23]:
session = Session(bind=engine)

In [24]:
results = session.query(Customer).limit(5)

for row in results:
    print(row.__dict__)

NameError: name 'Customer' is not defined